<div class="automotive-results">
  <ul>
    <li>
      <div class="product details" ng-click="viewProductDetails()">
        <div class="thumbnail">
          <img src="{{item.addVals.imageUrls[0].url}}">
        </div>
        <div class="detailspane">
          <div class="title">{{item.name}}</div>
          <div class="brand">{{item.brandName}}</div>
          <div class="productinfo">
            <div class="rating">
              <img class="stars" ng-src="images/automotive/stars_placeholder.png">({{item.addVals.reviewRatingUrls.length}})
            </div>
        </div>
      </div>
      <div class="price details">
        <div class="cutprice">${{item.addVals.cutPrice}}</div>
        <div class="displayprice">${{item.addVals.displayPrice}}</div>
      </div>
      <div class="tabbar">
        <div class="tab highlight">Details</div>
        <div class="tab">Reviews</div>
        <div class="tab">Related</div>
      </div>
    </li>
  </ul>
  <div class="details-panel">
    Sold by Sears - Online only<br/>
    Item #: 09588456000<br/>
    Model #: 134016-288<br/><br/>
    <strong>Product Description</strong><br/><br/>

    This Goodyear 215/65R16 Tire Reduces Fuel Use in All Seasons<br/><br/>
    
    The Goodyear Weatherhandler Fuel Max 215/65R16 tire features Goodyear's Fuel Max design to reduce your fuel costs over the life of the tire. The tire's efficient tread compound gives you low rolling resistance, decreasing the amount of fuel you need to go the distance. Goodyear estimates you can save up to 2,600 miles' worth of gas by using these well-designed tires. Goodyear will stand behind these tires with a 65,000-mile limited warranty and a free lifetime replacement promise against manufacturer defects.<br/><br/>
    
    The Goodyear 215/65R16 tire is made to deliver great traction, no matter the season. Speed-rated 'T' (118 mph), these tires have an 8/32-inch tread depth and an 'A'-graded traction rating. The tire is designed to last, with a super-high treadwear grade of 620. The tire's cross-section is 215 millimeters, its sidewall height to cross-section ratio is 65 percent, and its wheel diameter is 16 inches.
    <br/><br/>
    <strong>Features:</strong></br></br>
    Goodyear Fuel Max Compound - can save you 2,600 miles worth of fuel costs over the life of the tire<br/>
    65,000 Mile Limited Warranty - Keeps you driving longer<br/>
    Four Circumferential Grooves - Help remove excess water and improve wet traction<br/>
    Bi-Directional Tread Pattern - Allows for easy rotation to maximize tread life<br/>
    Dual Layer Steel Belts - Widens tire footprint to increase traction and road grip<br/>
    <br/>
    <table cellpadding="0" cellspacing="0" class="product_spec_tab">
          <tbody>
          
            <tr class=""><th colspan="2" class="specth">Product Overview:</th></tr>
            
              
            <tr class="speceven">
            <td class="tdeven"><strong>Season:</strong></td>
            
                <td>All Season Tires
            </td>
            </tr>
            
              
            <tr class="">
            <td class="tdeven"><strong>See Product Warranty:</strong></td>
            
                  <td><a target="_new" href="http://c.sears.com/assets/war/gyrwp1110.pdf">click here</a>
            </td>
            </tr>
            
              
            <tr class="speceven">
            <td class="tdeven"><strong>Sidewall Treatment:</strong></td>
            
                <td>BW, blackwall
            </td>
            </tr>
            
              
            <tr class="">
            <td class="tdeven"><strong>Stud Capability:</strong></td>
            
                <td>No
            </td>
            </tr>
            
            <tr class="speceven"><th colspan="2" class="specth">Specifications:</th></tr>
            
              
            <tr class="speceven">
            <td class="tdeven"><strong>Load Index:</strong></td>
            
                <td>98 1653 lbs.
            </td>
            </tr>
            
              
            <tr class="">
            <td class="tdeven"><strong>Overall Diameter (in.):</strong></td>
            
                <td>26.6
            </td>
            </tr>
            
              
            <tr class="speceven">
            <td class="tdeven"><strong>Performance Grade:</strong></td>
            
                <td>Standard Passenger
            </td>
            </tr>
            
              
            <tr class="">
            <td class="tdeven"><strong>Speed Rating:</strong></td>
            
                <td>T 118 mph
            </td>
            </tr>
            
              
            <tr class="speceven">
            <td class="tdeven"><strong>Temperature Grade:</strong></td>
            
                <td>B
            </td>
            </tr>
            
              
            <tr class="">
            <td class="tdeven"><strong>Tire Size:</strong></td>
            
                <td>215-65-16
            </td>
            </tr>
            
              
            <tr class="speceven">
            <td class="tdeven"><strong>Traction Grade:</strong></td>
            
                <td>A
            </td>
            </tr>
            
              
            <tr class="">
            <td class="tdeven"><strong>Tread Depth in inches:</strong></td>
            
                <td>8/32
            </td>
            </tr>
            
              
            <tr class="speceven">
            <td class="tdeven"><strong>Treadlife:</strong></td>
            
                <td>65,000 Miles
            </td>
            </tr>
            
              
            <tr class="">
            <td class="tdeven"><strong>Treadwear Grade:</strong></td>
            
                <td>620
            </td>
            </tr>
            
            <tr class="speceven"><th colspan="2" class="specth">Others:</th></tr>
            
              
            <tr class="speceven">
            <td class="tdeven"><strong>Low Rolling Resistance:</strong></td>
            
                <td>Yes
            </td>
            </tr>
            
              
            <tr class="">
            <td class="tdeven"><strong>Load Range:</strong></td>
            
                <td>Standard Load
            </td>
            </tr>
            
          </tbody>
        </table>
  </div>
</div>
