<div class="automotive-carselect">
  <div class="vehicle" ng-click="close()">
    {{vehicleName}}
  </div>
  <div class="options">
    <div class="vehicles">
      <div class="list-header">
        Your vehicles:
      </div>
      <ul>
        <li ng-click="close()">MINI Cooper S<div class="remove"/></li>
        <li ng-click="close()">Toyota Corolla LE<div class="remove"/></li>
      <ul>
    </div>
    <div class="actions">
      <ul>
        <li ng-click="selectVehicle()">Select another vehicle</li>
      <ul>
    </div>
  </div>
</div>
