<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> <script src="../js/libs/angular/angular.min.js"></script>
         <script src="../js/controllers/service.js"></script>
         <script src="../js/app.js"></script>
    </head>
    <body data-ng-controller="serviceListController">
        <div data-ng-repeat="service in services"><a href="#/services/{{service.id}}">{{service.name}}</a></div>
    </body>
</html>
